@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

/*reset css*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}


.container-grid {
    width: 80vw;
    max-width: 1400px;

    /*margin 20px - Espaçamento externo de 20px */
    /*margin 20px  10px - Espaçamento de 20px na vertical, 10px na horizontal*/
    /*margin 20px  10px 5px - Espaçamento de 20px pra cima, 10px na horizontal, 5px para baixo*/
    /*margin 20px 10px 5px 2px - Espaçamento 20px, para cima, 10px para a direita,, 5px para baixo, 2px para a esquerda*/

    margin: 0 auto;
}


/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
    background: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;

}

.sidebar img {
    width: 50px;
    margin-bottom: 80px;
}

.sidebar nav {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.sidebar nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;

    font-family: "Montserrat";
    margin-top: 80px;
}

.sidebar nav a:hover {
    color: #9d4edd;
}


/* Contato */
.contato h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10%;

    font-family: "Montserrat";
    color: white;
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    padding: 12px;
    border: 2px solid #9d4edd;
    background: #222;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
}

.grupo {
    display: flex;
    flex-direction: column;
}

label {
    color: white;
    font-family: "Montserrat";
    margin-bottom: 10px;
    font-size: 15px;

}

button {
    padding: 12px;
    background: linear-gradient(90deg, #3c007a, #9d4edd);
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    opacity: 0.9;
}